.header__email-note {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  padding-top: 7px;
  align-self: flex-start;
  margin: 0;
}