@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/content/content.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/main/main.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name-wrapper/profile__name-wrapper.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/place-gallery/place-gallery.css);
@import url(./blocks/place/place.css);
@import url(./blocks/place/__button-trash/place__button-trash.css);
@import url(./blocks/place/__picture/place__picture.css);
@import url(./blocks/place/__title-box/place__title-box.css);
@import url(./blocks/place/__title/place__title.css);
@import url(./blocks/place/__like-wrapper/place__like-wrapper.css);
@import url(./blocks/place/__button-like/place__button-like.css);
@import url(./blocks/place/__like-counter/place__like-counter.css);
@import url(./blocks/place/__button-like/_action/place__button-like_action.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_edit-profile.css);
@import url(./blocks/popup/_type/popup_type_add-place.css);
@import url(./blocks/popup/_type/popup_type_edit-avatar.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__enlarged-image/popup__enlarged-image.css);
@import url(./blocks/popup/__description/popup__description.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/_type/form_type_edit-profile.css);
@import url(./blocks/form/_type/form_type_add-place.css);
@import url(./blocks/form/_type/form_type_edit-avatar.css);
@import url(./blocks/form/_type/form_type_delete-confirm.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__input/_type/form__input_type_edit-name);
@import url(./blocks/form/__input/_type/form__input_type_edit-description);
@import url(./blocks/form/__input/_type/form__input_type_add-place);
@import url(./blocks/form/__input/_type/form__input_type_add-url);
@import url(./blocks/form/__input/_type/form__input_type_edit-avatar);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_visible/form__input-error_visible.css);
@import url(./blocks/form/__submit-button/form__submit-button.css);
@import url(./blocks/form/__submit-button/_inactive/form__submit-button_inactive.css);