.content {
  background: #000;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 200px;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1050px) {
  .content {
    padding: 0 100px;
  }
}

@media screen and (max-width: 850px) {
  .content {
    padding: 0 19px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    padding: 0;
  }
}
